/* This is the general styling */
* {

}
/* This is the header: Logo + Text + Navigation */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
}
.logo {
  color: MediumAquamarine;
  padding-left: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 80%;
}
.logo span {
  margin-left: 10px;
}
.topnav ul li a {
  color: black;
}
.topnav li {
  display: inline-block;
  width: 60px;
  text-align: center;
}
.topnav {
  margin-right: 10px;
}
/* This is the main container which has 3 columns*/
.main.container {
  display: flex;
  justify-content: space-between;
  width: 1266px;
  margin: 0 auto 78px auto;
  padding-top: 48px;
}
.column.large {
  width: 630px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.column.medium {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.column.small {
  width: 240px;
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}
.first.article {

}
.baby.articles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.second.baby.article {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.third.baby.article {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.first.image {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  text-align: left;
}
.second.image {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}
.third.image {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}
.forth.image {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}
p {
  font-family: Georgia;
  font-size: 14px;
  color: black;
}
h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.side.menu span {
  display: block;
  border-bottom: 1px solid black;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  padding: 10px 35px 10px 15px;
}
h3 {
  margin-bottom: 40px;
}
